[MQTT]
MQTTServer=1.2.3.4
MQTTPort=1883
MQTTKeepalive=45
MQTTUser=
MQTTPassword=
DeviceName=lupus_to_mqtt

[Lupus]
LupusHost=https://192.168.178.123:8124
LupusUsername=admin
LupusPassword=12345678
Manufacturer=Lupus
Model=XT3
VerifySSL=1

[Sensors]
# Comma separated list (without spaces) of alarm states for which you would like to create a binary sensor.
# Supported values are: BURGLAR, DOORBELL, SMOKE, MEDICAL, WATER, PANIC, EMERGENCY, FIRE, CO, EMERGENCY, GAS, HEAT
AlarmStatuses=DOORBELL,BURGLAR
